includes:
  - vendor/spaze/phpstan-disallowed-calls/disallowed-dangerous-calls.neon
  - vendor/spaze/phpstan-disallowed-calls/disallowed-execution-calls.neon
  - vendor/spaze/phpstan-disallowed-calls/disallowed-insecure-calls.neon
  - vendor/spaze/phpstan-disallowed-calls/disallowed-loose-calls.neon

parameters:
  checkBenevolentUnionTypes: true
  checkModelProperties: true
  checkOctaneCompatibility: true
  level: 9

  paths:
    - src
